
DomainService/.vs/DomainService/v16/Server/sqlite3/db.lock
DomainService/.vs/DomainService/v16/Server/sqlite3/storage.ide
DomainService/.vs/DomainService/v16/.suo
.vs/Domain/v16/.suo
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
DomainService/.vs/DomainService/v16/Server/sqlite3/storage.ide-shm
DomainService/.vs/DomainService/v16/Server/sqlite3/storage.ide-wal
DomainService/.vs/DomainService/v16/Server/sqlite3/storage.ide-shm
DomainService/.vs/DomainService/v16/Server/sqlite3/storage.ide-wal
DomainService/.vs/DomainService/v16/Server/sqlite3/storage.ide-wal
DomainService/.vs/DomainService/v16/Server/sqlite3/storage.ide-shm
DomainService/.vs/DomainService/v16/Server/sqlite3/storage.ide-shm
DomainService/.vs/DomainService/v16/Server/sqlite3/storage.ide-wal
